<div class="search-results columns is-multiline">
  <div class="column is-two-thirds">
    <div class="card" >

      <% if cart.present? %>
        <% cart.each do |product| %>
            <div class="card-content" >
              <div style="display:flex;flex-direction: row; " class="is-align-content-space-between is-justify-content-space-around">
                      <% if product.image.present? %>
                          <div class="card-image" >
                            <figure class="image">
                            <%= image_tag product.image.variant(resize_to_limit: [300, 300]) %>
                            </figure>
                          </div>
                      <% else %>
                          <div class="card-image" >
                            <figure class="image">
                            <%= image_tag "/assets/coming_soon.png", style: "max-height: 300px; max-width: 300px;" %>
                            </figure>
                          </div>
                      <% end %>
                        <div style="height:50px">
                          <h3 class="title is-5" style="height:50px">
                              <%= link_to product.name, product %>
                          </h3>

                          <% if product.previous_price.present? %>
                            <h3 style="text-decoration: line-through;">Previous Price:<%= product.previous_price %></h3>
                          <% end %>
                          <h3>Current Price: <%= product.price %></h3>
                          <div class="mt-6">
                            <%= link_to "Delete" + '➖', cart_path(product), method: :delete, class:"hvr-pulse-grow button is-danger is-small ml-5" %>
                          </div>
                        </div>
                        <div>
                          <p class="title is-6" >Quantity: <%= session[:products_quantity][product.id.to_s].to_s %> </p>
                          <div>
                             <%= button_to 'Add', {:controller => "cart", :action => "change_quantity", :product_id => product.id, "add_or_minus"=> "ADD"} , :method=>:post  %>
                             <%= button_to 'Minus', {:controller => "cart", :action => "change_quantity", :product_id => product.id, "add_or_minus"=> "MINUS"} , :method=>:post  %>
                          </div>
                        </div>
              </div>
            </div>
          <% end %>


        <% end %>



    </div>
  </div>

    <div class="column is-one-third">
      <div class="card p-5" >
        <h2 class="title is-6" >Cart Total (xx Items)</h2>
        <hr/>
        <div class="" >
          <% cart.each do |product| %>
            <p class="title is-6" ><%= product.name %></p>
              <div class="has-text-right" >
                <p class="" ><%= session[:products_quantity][product.id.to_s].to_s %> x <%= number_to_currency product.price %> = <%= number_to_currency(session[:products_quantity][product.id.to_s] * product.price) %> </p>
              </div>
          <% end %>
        </div>
        <hr/>
        <div class="has-text-right" >
              <p class="" ><strong class="title is-6">Sub Total:</strong> <%= number_to_currency cart.reduce(0) {|sum, product| sum + product.price * session[:products_quantity][product.id.to_s] } %> </p>
              <% if current_user.province.HST.present? %>
                <p ><strong class="title is-6">HST:</strong> <%= number_to_currency current_user.province.HST * cart.reduce(0) {|sum, product| sum + product.price * session[:products_quantity][product.id.to_s] } %></p>
              <% end %>
              <% if current_user.province.GST.present? %>
                <p ><strong class="title is-6">GST:</strong> <%= number_to_currency current_user.province.GST * cart.reduce(0) {|sum, product| sum + product.price * session[:products_quantity][product.id.to_s] } %></p>
              <% end %>
              <% if current_user.province.PST.present? %>
                <p ><strong class="title is-6">PST:</strong> <%= number_to_currency current_user.province.PST * cart.reduce(0) {|sum, product| sum + product.price * session[:products_quantity][product.id.to_s] }%></p>
              <% end %>
        </div>
        <hr/>
        <div class="has-text-right" >
            <p class="title is-6" >Grand Total: <%= number_to_currency get_total %> </p>
            <%= link_to "Checkout", checkout_create_path, method: :post, remote: true, class: "button is-small m-2" %>
        </div>
      </div>
    </div>
</div>
<script>


</script>

