<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

    <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>


    <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
  </div>

    <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone, autofocus: true, autocomplete: "telephone" %>
  </div>

      <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country, autofocus: true, autocomplete: "country" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <script>
    document.getElementsByClassName("actions")[0].addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementsByClassName("select")[0].value = parseInt(document.getElementsByClassName("select")[0].value)
        document.getElementsByTagName("form")[0].submit();
    });
</script>
<% end %>
  <script>
    document.getElementsByClassName("actions")[0].addEventListener("click", function (event) {
        event.preventDefault();
        document.getElementsByClassName("select")[0].value = parseInt(document.getElementsByClassName("select")[0].value)
        document.getElementsByTagName("form")[0].submit();
    });
</script>
<%= render "devise/shared/links" %>
