<div class="columns is-centered" >
  <div class="column is-half">
    <div class="card" >
      <div class="card-content ">
        <h1 class="title">Registration</h1>
        <%= form_with(model: customer) do |form| %>
          <% if customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

              <ul>
                <% customer.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :username %>
            <%= form.text_field :username, class:"input" %>
          </div>

          <div class="field">
            <%= form.label :password %><br />
            <%= form.password_field :password, autocomplete: "new-password" , class:"input" %>
          </div>
          <div class="field">
            <%= form.label :first_name %>
            <%= form.text_field :first_name , class:"input" %>
          </div>

          <div class="field">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class:"input"  %>
          </div>

          <div class="field">
            <%= form.label :address %>
            <%= form.text_field :address, class:"input"  %>
          </div>

          <div class="field">
            <%= form.label :city %>
            <%= form.text_field :city, class:"input"  %>
          </div>

          <div class="field">
            <%= form.label :province_id, class: ""%>
            <%= form.collection_select( :province_id, return_provinces , :id, :name)%>
          </div>

          <div class="field">
            <%= form.label :postal_code %>
            <%= form.text_field :postal_code , class:"input" %>
          </div>

          <div class="field">
            <%= form.label :telephone %>
            <%= form.text_field :telephone , class:"input" %>
          </div>

          <div class="field">
            <%= form.label :country %>
            <%= form.text_field :country, class:"input"  %>
          </div>

          <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email , class:"input" %>
          </div>

          <div class="actions">
            <%= form.submit%>
          </div>
        <% end %>
      </div>
      <footer class="card-footer">

      </footer>
    </div>
  </div>
</div>

