<p id="notice"><%= notice %></p>

<div class="columns is-mobile is-centered">
    <div class="column is-one-third">
      <div class="card p-5" >

      <p>
        <strong>Shipping Address:</strong>
      </p>

      <p>
        <%= @order.customer.first_name + @order.customer.last_name %><br>
        <%=  @order.customer.address %><br>
        <%= @order.customer.city + ", " + @order.customer.province.name + " " + @order.customer.postal_code %><br>
        <%=  @order.customer.country%>
      </p>
    </div>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <%= render partial: 'orders/order',
            object: @order %>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
