<p id="notice"><%= notice %></p>

<h3 class="title is-3"><%= pluralize @category.products.count, "Product" %> in category: <%= @category.name %> </h3>

<h2 class="title is-6"><%= page_entries_info @products %></h2>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
            collection: @products %>
</div>

<% if @products.count == 10 %>
  <div class="box mx-6 px-6">
    <%= paginate @products %>
  </div>
<% end %>

