<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= page_entries_info @products %>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
            collection: @products %>
</div>

<br>
<div class="box mx-6 px-6">
  <%= paginate @products %>
</div>


<%= link_to 'New Product', new_product_path %>
