<p class="mb-5">
  Found <%= pluralize @products.count, "Product" %> when searching:
  <% if params[:name] != "" %>
    <br>Name: <%= params[:name] %>
  <% end %>
  <% if params[:category_name] != "" %>
    <br>category_name: <%= params[:category_name] %>
  <% end %>
</p>
<%= page_entries_info @products %>

<div class="search-results columns is-multiline">
  <%= render partial: 'products/product',
            collection: @products %>
</div>

<% if @products.count == 10 %>
  <div class="box mx-6 px-6">
    <%= paginate @products %>
  </div>
<% end %>
