<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Previous price:</strong>
  <%= @product.previous_price %>
</p>

    <% if @product.image.present? %>
    <p>IMAGE! 📸</p>
      <div class="card-image">
        <figure class="image">
        <%= image_tag @product.image %>
        </figure>
      </div>
    <% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
