<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order_product.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_product.order_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_product.price %>
</p>

<%= link_to 'Edit', edit_order_product_path(@order_product) %> |
<%= link_to 'Back', order_products_path %>
