      <div>
        <div class="columns is-multiline m-0">
            <div class="column auto p-0">
               <a class="navbar-item p-0 mt-2" href="https://bulma.io">
                    <img src="https://www.purpicks.com/wp-content/uploads/2018/06/Rejuva-Minerals-Multi-Purpose-Powder-Blush-_-Eye-1.jpg" alt="logo" width="40" height="40" />
                </a>
            </div>
            <div class="column is-two-thirds has-background-white mgt-large mgb-large p-0">
                <%= form_with(url: search_products_path, method: :get, local: true) do |form| %>
                    <div class="field is-horizontal mb-0">
                        <div class="field is-horizontal mb-0">
                            <%= form.label :name, "Search:", class: "tags is-small m-2" %>
                            <%=  form.text_field(:name, class: "input is-small m-2", placeholder: "Search For Products")  %>
                        </div>

                        <%= form.label :category_name, class: "m-2"%>
                            <%= form.collection_select(:category_name, return_categories , :name, :name, {:include_blank => "All"}, {class: "select is-small m-2" })%>

                        <div class="control mb-0">
                            <%= form.submit("Search", class: "button is-primary is-small m-2") %>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="column auto p-0 " style="display:flex;flex-direction: row">
                <% if logged_in? %>
                    <h2 class=" is-small p-0 mt-2">Hello, <%= current_user.username %></h2>
                    <div class="is-inline"><%= button_to "Sign Out", '/logout', method: :post, class: "is-inline button is-small m-2" %></div>
                <% else %>
                    <div class="is-inline"><%= button_to "Login", '/login', method: :get, class: "button is-small m-2"  %></div>
                    <div class="is-inline"><%= button_to "Sign Up", '/customers/new', method: :get, class: "button is-primary is-small m-2"  %></div>
                <% end %>
            </div>
        </div>

        <nav class="navbar" role="navigation">
            <div class="navbar-brand">

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <%= link_to "New Products", new_products_products_path, class:"navbar-item" %>
                    <%= link_to "On Sale", on_sale_products_path, class:"navbar-item" %>
                    <%= link_to "Recently Update", recently_updated_products_path, class:"navbar-item" %>
                    <%= link_to "All Products", products_path, class:"navbar-item " %>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Categories</a>

                        <div class="navbar-dropdown">
                            <% return_categories.each do |category| %>
                                <%= link_to category.name, category, class:"navbar-item" %>
                            <% end %>
                        </div>
                    </div>

                    <%= link_to "Orders", orders_path, class:"navbar-item " %>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"> More </a>

                        <div class="navbar-dropdown">
                            <% cms_pages.each do |page| %>
                                <%= link_to page.title, permalink_path(page.permalink), class:"navbar-item" %>
                            <% end %>
                        </div>
                    </div>

                </div>


                <div class="navbar-end" style=" margin-right: 150px;">
                    <div class="navbar-item has-dropdown is-hoverable mr-6">
                        <div style="width:40, height:60" class="navbar-link">
                            <%= link_to image_tag("shopping-cart.png", width:40, height:60), products_in_cart_path, class:"hvr-pulse-grow" %>
                            <% if cart.present? %>
                                <sup style="position:relative;left:-8px;top:-13px;background-color:#920de9;border-radius:7px;color:white;font-weight: bold;margin: 0.2rem;padding: 0.2rem 0.3rem;"><%= cart.size %></sup>
                            <% end %>
                        </div>

                        <div class="navbar-dropdown">
                            <% if cart.present? %>
                                <% cart.each do |product| %>
                                    <li class="navbar-item">
                                        <%= product.name %> <%= link_to "Delete" + '➖', cart_path(product), method: :delete, class:"hvr-pulse-grow has-text-danger ml-5" %>
                                    </li>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<style>
    a:hover {
    background-color: transparent;
    }

    li{
        list-style-type: none;
    }

    /* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
</style>